<div class="timeline--loading">
  <div class="loading-header"></div>
  <div class="loading-days"></div>
  <div class="loading-row">
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
  </div>
  <div class="loading-row">
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
  </div>
  <div class="loading-row">
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
    <div class="loading-cell"></div>
  </div>
</div>
