.mdc-dialog__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  &::before {
    display: none;
  }
}

mat-dialog-content > form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > section {
    display: flex;
    flex-direction: column;
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
